 <!-- <div class="panel panel-primary">
    <div class="panel-heading"><h4>Paramètres de l'utilisateur courant</h4></div>
    <div class="panel-body">
-->
      <form name="form" ng-submit="SetUserInfos()" class="form-horizontal" role="form">
        <div class="form-group">
          <label for="FirstName" class="col-sm-2 control-label">Prénom</label>

          <div class="col-sm-10">

            <input type="text" name="FirstName" id="FirstName" class="form-control" ng-model="infos.FirstName" required/>
            <span ng-show="form.FirstName.$dirty && form.FirstName.$error.required" class="help-block">firstName is required</span>

          </div>
        </div>
       <div class="form-group">
          <label for="LastName" class="col-sm-2 control-label">Nom</label>
         <div class="col-sm-10">
          <input type="text" name="LastName" id="LastName" class="form-control" ng-model="infos.LastName" required/>
          <span ng-show="form.LastName.$dirty && form.LastName.$error.required" class="help-block">lastname is required</span>
           </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
          <input type="email" name="email" id="email" class="form-control" ng-model="infos.Email" required/>
          <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">email is required</span>
          <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">email is invalid</span>
            </div>
        </div>


        <div class="panel-footer">



            <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">Enregistrer</button>
            <a href="#/updatepsw" role="button"  class="btn btn-info" style="white-space: normal">Changer le mot de passe</a>




          </div>

      </form>
    </div>
  </div>
