<form name="form" ng-submit="sendCab()" role="form"  class="form-horizontal" >
  <div class="form-group">
    <label for="productCab" class="col-sm-6 control-label">CAB</label>
    <div class="col-sm-6">
      <input type="text" name="productCab" id="productCab" class="form-control" ng-model="productCab" required autofocus autocomplete="off"/>
      <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">l'utilisateur est obligatoire</span>
    </div>
  </div>


</form>

<div ng-show="productInfos">
  <ul>
    <li>
      <span>Code : {{productInfos.Code}}</span>
    </li>
    <li>
      <span>Label : {{productInfos.Label}}</span>
    </li>
    <li>
      <span>GTIN : {{productInfos.GTIN}}</span>
    </li>
    <li>
      <span>Tare : {{productInfos.Tare}}</span>
    </li>
    <li>
      <span>Unité : {{productInfos.Unity}}</span>
      <ul>
        <li ng-repeat="packaging in productPackagingInfos">
          <span>1 {{packaging.Unity}} = {{packaging.Quantity}} {{packaging.FromLbl}}</span>
        </li>
      </ul>


    </li>
    <li>
      <span>Poids : {{productInfos.Weight}}</span>
    </li>
  </ul>
</div>
